# ==============================================================================
# CONFIGURACIÓN GLOBAL DE ENTORNO
# ==============================================================================
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# ==============================================================================
# BACKEND
# ==============================================================================
venv/

.env
.log
scheduler.log

__pycache__/
